table {
  font-family: sans-serif;
}

td, th {
  padding: 5px;
}

tr:nth-child(even){
  background: rgb(203, 203, 203);
}

h2, h3, h6, span {
  text-align: center;
}

.div {
  width: 300px;
  height: 100px;
  box-sizing: border-box;
}
